
body {
    width: 100%;
    overflow-x: hidden;
}
.text-center {
    text-align: center;
}
.forgot-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forgot-password .hero {
    width: 100%;
    background-image: url("../Asset/backroung-forgot-password.webp");
    height: 1112px;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.forgot-password .text-label {
    margin: 201px 0 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #fff;
}

.forgot-password .form-input {
    display: flex;
    justify-content: center;
    font-family: rubik;
    padding: 30px 8 2px;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;

}
.forgot-password .hero .text-description {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0;

}
.forgot-password .hero .text-clik-here {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0;

}


/* .forgot-password .btn-submit{
    width: 253px;
    height: 129px;
    background: #FFBA33;
    box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
    border-radius: 20px;
} */
