
.detail-product {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #BCBABA;
}
.detail-product .image {
    width: 40%;
    flex-direction: column;
    align-items: center;
}
.detail-product .description {
    display: flex;
    width: 60%;
    padding: 71px 0 225px 94px;
    flex-direction: column;
    align-items: center;
}
.detail-product .description .desc-product {
    padding: 80px;
    height: 60vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.detail-product .description .box-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}
.detail-product .description .box-btn .btn-size {
    width: 70px;
    height: 70px;
    border: none;
    background: #FFBA33;
    border-radius: 200px;
    margin: 0 20px;
    font-family: Rubik;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0;
    text-align: center;

}
.detail-product .description .set-time {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.detail-product .description .set-time input {
    border: none;
    border-bottom: 1px solid #9F9F9F;
    background-color: #BCBABA;
    color: #9F9F9F;
    padding: 3px;
    width: 20rem;
    font-size: 14px;
    text-align: start;
    font-family: Rubik;
}
.detail-product .description .set-time label {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-right: 1.7rem;

}
.box-quantity {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: -130px;
    padding: 30PX;
}
.box-quantity .box-inner {
    display: flex;
    justify-content: center;
}
.box-quantity .box-inner .image {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    padding: 30PX;
    border-radius: 20px;

}
.box-quantity .box-inner .image button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    line-height: 38px;
    border: none;
    color: #6A4029;
    margin: 0 2rem;
    background: rgba(231, 170, 54, 0.52);
    justify-content: center;
}
